/*Universal*/
*{
    font-family: 'Mulish', sans-serif;
}
.contenedor{
    margin: 0 auto;
    margin-top: 180px;
    width: 55%;
    border-radius:5px;
    border: 3px solid rgb(133, 52, 76, 0.8);
    background-color: rgba(250, 250, 250, 0.6);
}
/* body{
    background-image: url("../Logos/cinestav_fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
} */
.bg{
    background-image: url("../img/anuies_logo.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 25%;
    margin-left: 50px;
    margin-right: 50px;
}

.btn{
    border-color: rgb(133, 52, 76, 0.8);
    color: rgb(133, 52, 76, 0.8);
}

.btn:hover{
    background-color: rgb(133, 52, 76, 0.8);
    color: white;
}
